.item-title {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: Ubuntu;
  font-size: 25px;
  opacity: 0.6;
  color: var(--title);
}

.item-box {
  border: 1px solid;
  border-color: var(--border);
  display: flex;
  border-bottom: none;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  height: fit-content;
  border-radius: 1px;
  overflow-y: auto;
}

.item-search-box {
  border-color: var(--border);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: var(--header);
}

.item-search {
  width: 400px;
  height: 30px;
  border-width: 2px;
  border-color: var(--border);
  outline-width: 0;
  border-style: solid;
  border-radius: 5px;
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.item-search:hover,
.search:focus {
  background-color: var(--focus);
}

.item-search-text {
  text-overflow: clip;
  height: 30px;
  width: 380px;
  border-width: 0;
  outline-width: 0;
  border-radius: 2px;
  align-self: center;
  text-align: left;
  margin-inline-start: 5px;
  box-sizing: border-box;
  font-family: "Ubuntu";
  font-size: medium;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
}

.item-search-text::placeholder {
  color: var(--search);
  opacity: 0.8;
  font-size: medium;
}

.item-search-text:focus::-webkit-input-placeholder {
  color: transparent;
}

.item-add {
  border-width: 0.5px;
  border-color: var(--border);
  outline-width: 0;
  border-style: solid;
  border-radius: 5px;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #018bb6;
  transition: background-color 1s;
}

.item-add:hover,
.add:focus {
  background-color: var(--button-background-focus);
}

p {
  font-family: "Ubuntu";
  justify-self: center;
  align-self: center;
  padding-right: 5px;
  font-size: medium;
  color: white;
}

.item-holder {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  overflow: auto;
}

.item-table-holder {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  border-bottom: 1px solid var(--border);
  overflow: auto;
}

.item-head-holder {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  border-bottom: 1px solid var(--border);
  background: var(--header);
}

.item-table-holder:hover {
  background-color: var(--table-hover);
}

.item-table {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.item-remove-items {
  overflow-y: auto;
  max-height: 31.7rem;
}

.item-mod-date {
  font-family: "Ubuntu";
  width: 250px;
  text-align: center;
  display: flex;
}

.item-name {
  font-family: "Ubuntu";
  width: 350px;
  text-align: center;
  display: flex;
}

.item-head-name {
  font-family: "Ubuntu";
  width: 350px;
  text-align: center;
  display: flex;
  height: 30px;
}

.item-price {
  font-family: "Ubuntu";
  width: 100px;
  text-align: center;
  display: flex;
}

.item-sort {
  cursor: pointer;
  align-self: center;
  font-size: larger;
}

.item-group {
  font-family: "Ubuntu";
  width: 150px;
  text-align: center;
  display: flex;
}

.item-group1 {
  font-family: "Ubuntu";
  width: 40px;
  justify-content: flex-end;
  display: flex;
}

.item-creation-date {
  font-family: "Ubuntu";
  width: 200px;
  text-align: center;
  display: flex;
}

.item-modify-icon:hover {
  color: var(--color-scheme);
}

.item-delete-icon:hover {
  color: var(--color-scheme);
}

.item-trans-enter {
  opacity: 0;
}

.item-trans-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-trans-exit {
  opacity: 1;
}

.item-trans-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.modal-item-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-item {
  height: 600px;
  width: 800px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-item-header {
  height: 60px;
  background-color: var(--color-scheme-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Ubuntu";
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  user-select: none;
}

.modal-item-close {
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: white;
}

.modal-item-close:hover {
  color: lightgray;
}

.modal-item-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 490px;
  user-select: none;
}

.modal-item-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  height: 50px;
}

.modal-item-save {
  background: var(--color-scheme);
  border-radius: 5px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  font-family: "Ubuntu";
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
}

.modal-item-save:hover {
  opacity: 1;
}

.modal-item-subtitle {
  min-height: 40px;
  background-color: var(--color-scheme);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "Ubuntu";
  color: white;
  padding-left: 20px;
  user-select: none;
}

.modal-item-form {
  font-family: "Ubuntu";
}

.modal-item-desc {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.modal-item-desc-hor {
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-top: 5px;
  align-items: center;
}

.modal-check {
  align-self: center;
  margin-right: 20px;
}

.modal-item-price,
.modal-item-function {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-item-desc-input {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  font-family: "Ubuntu";
  padding: 10px;
  margin-right: 10px;
}

.modal-item-desc-input::placeholder {
  font-family: "Ubuntu";
}

.modal-item-desc-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.modal-item-price-input {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  font-family: "Ubuntu";
  padding: 10px;
  margin-right: 10px;
}

.modal-item-function-input {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  font-family: "Ubuntu";
  padding: 5px;
  margin-right: 10px;
}

.modal-item-print-input {
  margin-top: 10px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  font-family: "Ubuntu";
  padding: 5px;
  margin-right: 10px;
}

.modal-item-print-input:focus,
.modal-item-print-input:hover,
.modal-item-function-input:focus,
.modal-item-function-input:hover,
.modal-item-price-input:hover,
.modal-item-price-input:focus,
.modal-item-desc-input:focus,
.modal-item-desc-input:hover,
.modal-check:focus,
.modal-check:hover {
  box-shadow: 2px 2px var(--color-scheme-light);
}

.modal-item-function-option {
  font-family: "Ubuntu";
}

.modal-item-price-input::placeholder {
  font-family: "Ubuntu";
}

.modal-item-price-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.modal-spacer {
  border-top: 1px solid var(--color-scheme-dark);
}

.modal-item-branch {
  background: var(--color-scheme);
  border-radius: 5px;
  width: 250px;
  height: 30px;
  cursor: pointer;
  font-family: "Ubuntu";
  color: white;
  text-align: center;
  padding-top: 5px;
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;
  margin-top: 20px;
  margin-right: 20px;
}

.modal-item-branch:hover {
  opacity: 1;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
