    
.subHeader{

    width: 100%;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:660px){
    .menuHeader{
        height:20vh;
        background-size: cover;   
    }


   
}

.logo{
    align-self: flex-start;
    height: 27vh;
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
}
.quoteTitle{
    font-size: large;
    font-style: italic;
    margin-left: 15px;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}


.menuTitle{
    padding-right:auto;
    padding-left: auto;
    margin-top:-10px;
    font-size:300%;
    color:#5ea069;    

    display: inline-block;
    border-bottom:2px solid #ff652f;
    font-weight: 300;
}
.menuHeader ul{
    list-style: none;
    margin:0 auto;
}
.menuHeader li a{
    text-decoration: none;
    color:#fff;
}
.menuHeader li .active{
    font-weight: bold;
    color:#14a76c;
}
.menuHeader li .active:hover{
    color:#fff;
}
.menuHeader li{
    font-size: 120%;
    letter-spacing: 1px;
    display: inline;
    padding:10px 10px;
}
.menu-options{

    margin-top:60px;
}