.menu-header{
    color: #111111;
    background-color: #63D471;
    display: flex;
    justify-content: space-between;
    height: 85px;
    padding: 0.2rem calc((100vw-1000px)/2);
    z-index: 12;
    
}
.bar{
    display: none;
    color: #808080;
    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
}