.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.dashboard {
    justify-content: flex-start;
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: lightgray;
    z-index: 100;
}

.screen {
    width: 100%;
    height: 100%;

  flex-direction: row;
 
}

.navigationBar {
    width: 200px;
    height: 100vh;
    background-color: #fafafa;
}

.subNavigation {
    height: 50vh;
    background-color: red;
}

.addItem {
    width: 100vh;
    margin-top: 10px;
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.data {
    width: 100vh;
    margin: 10px;
    align-items: center;
}

.postList {
    display: grid;
    list-style-type: none;
    flex: 1;
    margin: 10px 0;
    margin-left: 10px;
    width: 100vh;
    position: relative;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
    width: 100%;
    position: relative;
    height: 60px;
    flex: 1;
    justify-content: center;
    background-color: #018BB6


    ;
}
.description{
    width: 40vh;
    display: flex;
    padding-left: 10px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  .category{
    width: 25vh;
    display: flex;
    padding-left: 10px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  .menu{
    width: 30vh;
    display: flex;
    padding-left: 10px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  .branch{
    width: 30vh;
    display: flex;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1.8px solid darkgray;
    justify-content: center;
  }
  .branch:focus{
    outline: none !important;
    border:1px solid #018BB6;
    box-shadow: 0 0 8px #018BB6;
  }
 
  .price{
    width: 15vh;
    display: flex;
    padding-left: 10px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  .links{
    
    color: #808080;
    padding: 10px;
    text-decoration: none;
  }
  .links.active{
    background-color: #0c0e0c;
  color: white;
  text-decoration: none;
  }
  .links:hover:not(.active) {
    background-color: #555;
    color: white;
    text-decoration: none;
  }
  .modifier{
    width: 15vh;
    display: flex;
    padding-left: 10px;
    height: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  .modifier:focus{
    outline: none !important;
    border:1px solid #018BB6;
    box-shadow: 0 0 8px #018BB6;
  }
  .mandatory{
    width: 10vh;
    display: flex;
    padding-left: 10px;
    height: 15px;
    
    margin-top: 12px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  
  .print{
    width: 20vh;
    display: flex;
    padding-left: 10px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1.8px solid lightgray;
    justify-content: center;
  }
  .print:focus{
    outline: none !important;
    border:1px solid #018BB6;
    box-shadow: 0 0 8px #018BB6;
  }
  .price:focus{
    outline: none !important;
    border:1px solid #018BB6;
    box-shadow: 0 0 8px #018BB6;
  }
  .menu:focus{
    outline: none !important;
    border:1px solid #018BB6;
    box-shadow: 0 0 8px #018BB6;
  }
  .description:focus{
    outline: none !important;
    border:1px solid #018BB6;
    box-shadow: 0 0 8px #018BB6;
    
    
    
  }

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}