:root {
  --color-scheme: rgb(1, 139, 182);
  --color-scheme-dark: rgb(1, 100, 140);
  --color-scheme-light: rgba(1, 100, 140, 0.3);
  --border: darkgray;
  --search: rgba(0, 0, 0, 0.7);
  --title: var(--color-scheme-dark);
  --focus: darkgray;
  --button-background: var(--color-scheme-dark);
  --button-background-focus: rgba(0, 0, 0, 0.5);
  --table-hover: rgba(0, 0, 0, 0.3);
  --header: lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-family: Ubuntu;
  font-size: 70px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
  .accordion {
    width: 90%;

  }
}

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(./fonts/Ubuntu-Bold.ttf) format("truetype");
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
